<nav class="navbar">
   <div class="container-fluid">
    <div class="col-md-8 offset-3">
     <h2><img style="width:110px;height: 80px;" src="./assets/Images/l5.png">EMPLOYEE MANAGEMENT SYSTEM </h2>
     
 </div>
   </div>
</nav>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="../home">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="../dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../about">About Us</a>
        </li>
        <li class="nav-item dropdown">
          
        <li class="nav-item">
           <a class="nav-link" routerLink="../contact">Contact Us</a>
        </li>
        <li class="nav-item">
                <button class="btn btn-outline-danger" routerLink="/login">Log Out</button>
           
        </li>
      </ul>
    </div>
  </div>
</nav>
<img src="./assets/Images/a2.jpeg" class="img-fluid" alt="...">
<div class="container">
  <div class="row" >
    <div class="col-md-8 offset-5"><h2>Our Purpose?</h2></div>
  </div>
  <div class="col-md-4 offset-4 ">They help document personnel decisions, such as promotions and discipline. They assist management in making a decision to retain or terminate. Performance reviews help identify training needs. They assist with personnel planning including staffing.</div>
</div>
