<nav class="navbar">
   <div class="container-fluid">
    <div class="col-md-8 offset-3">
     <h2><img style="width:110px;height: 80px;" src="./assets/Images/l5.png">EMPLOYEE MANAGEMENT SYSTEM </h2>
     
 </div>
   </div>
</nav>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="../home">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="../dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../about">About Us</a>
        </li>
        <li class="nav-item dropdown">
          
        <li class="nav-item">
           <a class="nav-link" routerLink="../contact">Contact Us</a>
        </li>
        <li class="nav-item">
                <button class="btn btn-outline-danger" routerLink="/login">Log Out</button>
           
        </li>
      </ul>

    </div>
  </div>
</nav>
<!--main work-->
  <!--banner-->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="border-radius: 0px;height: 100%;" src="./assets/Images/ban1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="border-radius: 0px;height: 375px;" src="./assets/Images/e5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="border-radius: 0px;height: 375px;" src="./assets/Images/e6.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="./assets/Images/e1.jpg" style="height: 100%; padding-top: 10px;">
    </div>
    <div class="col-md-6"  style="padding-top: 35px;">
     <h2>What is Employee Management System?</h2>
    
    <h5>Employee Management system is an application that enables users to create and store Employee Records. The application also provides facilities of a payroll system which enables user to generate Pay slips too. This application is helpful to department of the organization which maintains data of employees related to an organization .</h5></div>
    </div>
  </div>

<div class="container">
  <div class="row">
          <div class="col-md-4 offset-1" style="padding-top: 30px;">
                
                                <li class="list-group-item">
                                    <span class="fw-bold"><h2>OBJECTIVE:</h2></span></li>
                                   <li><span >1.In this world of growing technologies everything has been computerized. With large number of work opportunities the Human workforce has increased.</span></li>
                                   <div>&nbsp;</div>
                                   <li><span >2.Thus there is a need of a system which can handle the data of such a large number of Employees in an organization. </span></li>
        </div>
        <div class="col-md-5">
      <img src="./assets/Images/e2.jpg" style="height: 100%; width: 150%; padding-top: 10px;padding-right: 40px;">
    </div>
      </div>
       <div>&nbsp;</div>
        <div>&nbsp;</div>
         <div>&nbsp;</div>

</div>
